:root {
    --primary-color: #ffb6b6;
    --secondary-color: #d9d9d9;
    --primary-background: #a5a5a5;
}

#logo {
    width: 30px;
    height: 30px;
    background-color: white;
}
body {
    margin: 0;
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 16px;
}

.logo-name a img {
    height: 40px;
}

.name {
    font-size: 32px;
}

.coder-text {
    color: #45A7C5;
}

.academy-text {
    color: #1C3C5C;
}

#nav-items {
    display:flex;
    justify-content: space-around;
    width: 100%;
    font-size: 18px;
}

#nav-items a {
    text-decoration: none;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 16px;
}

.social-media {
    display: flex;
    justify-content: space-around;
}

.social-media a i {
    font-size: 24px;
    color: darkolivegreen;
    margin-bottom: 16px;
}

.info {
    color:darkolivegreen;

}

.info p {
    margin: 5px 0;
}